body{
font-family: sans-serif;
background-color: #fff;
width: 500px;
}
 
div
{
position: absolute; 
}
 div2
 {
-webkit-box-shadow: 2px 2px 3px #888; 
-moz-box-shadow: 2px 2px 3px #888;
}
td{
/*border: 1px solid #999;*/
border-color: #aaa;
border-collapse: collapse;
}
.pointer{
	CURSOR: POINTER;
}
#wybor_opiekuna{
	display: none;
	position: absolute;
	background-color: #eee;
	text-align: left;
	border: 1px solid #666;
}
#wybor_opiekuna ul{
	list-style-type: none;
	padding: 10px;
	margin: 0px;
}
.zajecia_info, #zaliczenia, #ramka_logowania, #zmiana_hasla, #red-line, #reload_page, #usun_grupe
{
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
/*-webkit-box-shadow: 0px 0px 10px #000; 
-moz-box-shadow: 0px 0px 10px #000;*/
}
.zajecia, #wiecej_grup, #logowanie
{
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
}
#tydzien
{
border: 1px solid #ddd;
}

.ramka, #dodaj_zajecia, #prowadzacy, #prowadzacy_span, #kierunki_studiow, #kierunki_studiow_span, #studenci_grupa, #ocena_obecnosc, #wiadomosci_grupa, #regulamin
{
border: 1px solid #ddd;
font-size: 8pt;
line-height: 16px;
margin-bottom: 2px;
background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(230,230,230)),color-stop(1, rgb(255,255,255)));
background-image:-moz-linear-gradient(center bottom,rgb(230,230,230) 0%,rgb(255,255,255) 100%);
}
#prowadzacy_span div, #kierunki_studiow_span div{
width: 170px;
padding-left: 10px;
background-color: #f0f0f0;
border: 1px solid #ddd;
background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(230,230,230)),color-stop(1, rgb(255,255,255)));
background-image:-moz-linear-gradient(center bottom,rgb(230,230,230) 0%,rgb(255,255,255) 100%);
}
#kierunki_studiow_span div:hover, #prowadzacy_span div:hover{
width: 170px;
background-color: #f0f0f0;
margin: 1px;
border: 1px solid #ddd;
background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(255,255,255)),color-stop(1, rgb(230,230,230)));
background-image:-moz-linear-gradient(center bottom,rgb(255,255,255) 0%,rgb(230,230,230) 100%);
}
.zajecia_info
{
position: relative;
font-size: 8px; 
padding: 6px; 
border: 1px #999 solid; 
background-color: #f0f0f0;
display: none; 
z-index: 9999;
-webkit-box-shadow: 0px 0px 15px #000; 
-moz-box-shadow: 0px 0px 15px #000;
}
.zajecia_info div{
font-size: 10px;
padding: 2px ;
position: relative;
border: 1px solid #ddd;
background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(230,230,230)),color-stop(1, rgb(255,255,255)));
background-image:-moz-linear-gradient(center bottom,rgb(230,230,230) 0%,rgb(255,255,255) 100%);
}
.zajecia_info div:hover{
background-color: #f0f0f0;
background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(255,255,255)),color-stop(1, rgb(230,230,230)));
background-image:-moz-linear-gradient(center bottom,rgb(255,255,255) 0%,rgb(230,230,230) 100%);
}
.white_vert_btn{
background-color: #f0f0f0;
background-image:-webkit-gradient(linear,right bottom,left bottom,color-stop(0, rgb(230,230,230)),color-stop(1, rgb(255,255,255)));
background-image:-moz-linear-gradient(center right,rgb(230,230,230) 0%,rgb(255,255,255) 100%);
}
.white_btn{
background-color: #f0f0f0;
border: 1px solid #ddd;
background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(230,230,230)),color-stop(1, rgb(255,255,255)));
background-image:-moz-linear-gradient(center bottom,rgb(230,230,230) 0%,rgb(255,255,255) 100%);
}

.green_btn{
background-color: #D8FFC0
background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(161,200,137)),color-stop(1, rgb(216,255,192)));
background-image:-moz-linear-gradient(center bottom,rgb(161,200,137) 0%,rgb(216,255,192) 100%);
}
.white_btn_hover{
background-color: #f0f0f0;
background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(255,255,255)),color-stop(1, rgb(230,230,230)));
background-image:-moz-linear-gradient(center bottom,rgb(255,255,255) 0%,rgb(230,230,230) 100%);
}

.dzisiaj
{
border: 1px solid #ddd;
font-size: 8pt;
background-color: #f0f0f0;
background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(230,230,230)),color-stop(1, rgb(255,255,255)));
background-image:-moz-linear-gradient(center bottom,rgb(230,230,230) 0%,rgb(255,255,255) 100%);
}
.dzisiaj_hover
{
background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(255,255,255)),color-stop(1, rgb(230,230,230)));
background-image:-moz-linear-gradient(center bottom,rgb(255,255,255) 0%,rgb(230,230,230) 100%);
}

#dodaj_zaj, #dodaj_prowadzacego, #dodaj_kierunek_studiow
{
background-color: #E6FAFF;
border: 1px solid #ddd;
font-size: 8pt;
}
.dzisiaj 
{
border: 1px solid #ddd;
font-size: 8pt;
background-color: #f0f0f0;
z-index: 8000;
text-align: center;
}
.powrot
{
border: 1px solid #ddd;
font-size: 8pt;
background-color: #f0f0f0;
z-index: 9001;
text-align: center;
}

#godziny, .dzien
{
border: 1px solid #ddd;
}

#godzina2
{
text-align: left;
font-size: 8pt;
border: 1px solid #ddd;
}

.godzina
{
text-align: left;
font-size: 8pt;
vertical-align: bottom;
border: 1px solid #ddd;
}

.dni_tygodnia
{
width:30px;
text-align: center;
font-size: 8pt;
border: 1px solid #ddd;
background-color: #fff;
}

.zajecia
{

text-align: center;
font-size: 8pt;
border: 1px solid #999;
margin:2px;
padding: 2px;
filter: alpha(opacity:70);
-moz-opacity: .70; 
opacity: .70;
cursor: pointer;
line-height: 11px;
background-color: #ddd;
}

.zajecia_in
{
text-align: center;
font-size: 8pt;
}

a:link, a:visited, a:hover
{ 
text-decoration: none;
color: #000;
}

a .zajecia:hover
{
background: #ddd;
cursor: pointer; 
}

.pomoc
{
font-size: 9pt;
padding: 4px;
background-color: #FFC;
border: 1px solid #888;
}

/*
.border_green{
background-color: #00ff00;
border: 1px #00ff00 solid;
}*/
.gray_btn2
{
border: 1px solid #bbb;
padding: 5px;
text-shadow: 0px 0px 10px #fff;
color: black;
font-weight: bold;
background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(125,125,125)),color-stop(.8, rgb(175,176,175)));
background-image:-moz-linear-gradient(center bottom,rgb(0,0,0) 0%,rgb(125,126,125) 80%);
background-color:#f0f0f0;
}

.black_btn, #logowanie
{
border: 1px solid #bbb;
padding: 5px;
text-shadow: 0px 0px 30px #fff;
color: black;
font-weight: bold;
/*background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(0,0,0)),color-stop(.8, rgb(125,126,125)));
background-image:-moz-linear-gradient(center bottom,rgb(0,0,0) 0%,rgb(125,126,125) 80%);
background-color:#f0f0f0;*/
}

.black_btn_hover
{
text-shadow: 0px 0px 30px #fff;
/*background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0, rgb(50,50,50)),color-stop(1, rgb(125,126,125)));
background-image:-moz-linear-gradient(center bottom,rgb(0,0,0) 0%,rgb(125,126,125) 100%);*/
}

.logowanie, #dodawanie_usera, #logowanie, #wiecej_grup
{
text-align: center;
background-color: #f0f0f0;
border: 1px solid #888888;
padding: 5px;
}

#mask{
  position:absolute;
  left:0;
  top:0;
  width: 100%;	
  z-index: 9000;
  background-color: #000;
  display: none;
  height: 160%;	
  filter: alpha(opacity:70);	
  -moz-opacity: .70; 
  opacity: .70
}
#mask2 {
  position:absolute;
  left:0;
  top:0;
  width: 100%;	
  z-index: 9000;
  background-color: #000;
  display: none;
  height: 120%;	
  filter: alpha(opacity:70);	
  -moz-opacity: .70; 
  opacity: .70
}

.input_edytuj_zajecia
{
font-size: 12px;
}
#ramka_logowania
{
width: 180px;
padding: 3px;
border: 1px solid #888;
font-family: sans-serif;
background-color: #fff;
font-size: 12px;
font-weight: bold;
filter: alpha(opacity:70);
-moz-opacity: .70; 
opacity: .70;
}
#reload_page
{
position: absolute;
top: 5px;
left: 590px;
width: 100px;
padding: 3px;
border: 1px solid #888;
font-family: sans-serif;
background-color: #fff;
font-size: 12px;
font-weight: bold;
text-align: center;
filter: alpha(opacity:70);
-moz-opacity: .70; 
opacity: .70;
}

.red
{
color: #f00;
font-weight: bold;
font-size: 14px;
}

.red_border
{
border: 1px solid #f6;
background-color:#FFD48E;
background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0,rgb(100,100,100)),color-stop(1, rgb(255,255,255)));
background-image:-moz-linear-gradient(center bottom,rgb(100,100,100) 0%,rgb(255,255,255) 100%);
z-index: 99999999;
-webkit-box-shadow: 0px 0px 10px #000; 
-moz-box-shadow: 0px 0px 0px 10px #000;
}
.red_border2
{
border: 1px solid #f6;
background-color:#FFD48E;
background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0,rgb(140,175,45)),color-stop(1, rgb(255,255,255)));
background-image:-moz-linear-gradient(center bottom,rgb(140,175,45) 0%,rgb(255,255,255) 100%);
z-index: 99999999;
}
.moje_zajecia{
	border-color: green;
}
.sala
{
text-align: center;
font-size: 10px;
}

.student_informacje
{
border: 1px solid #888888;
background-color: #ffffff;
}

#wiadomosc, #wiadomosc2, .wiadomosc
{
display: block;
position: fixed;
z-index: 999999;
left: 30%;
top: 100px;
width: 300px;
height: 200px;
background-color: #eee;
font-size: 10pt;
padding: 5px;
border: 1px solid #999;
overflow: auto;
}
#wiadomosc_header, #wiadomosc_header2
{
display: block;
position: fixed;
z-index: 9999;
left: 30%;
top: 40px;
width: 300px;
height: 60px;
background-color: #e0e0e0;
font-size: 10pt;
padding: 5px;
border: 1px solid #999;
overflow: auto;
}
#wiadomosc_footer, #wiadomosc_footer2
{
display: block;
position: fixed;
z-index: 9999;
left: 30%;
top: 310px;
width: 300px;
height: 40px;
background-color: #e0e0e0;
font-size: 10pt;
padding: 5px;
border: 1px solid #999;
overflow: auto;
}
#stat_div{
display: none;
position: fixed;
z-index: 9999;
top: 135px;
left: 130px;
width: 690px;
background-color: #e5e5e5;
font-size: 10pt;
padding: 5px;
border: 1px solid #999;
overflow: auto;
}

.z_ind_9999
{
z-index: 1004;

}
.z_ind_9999_9
{
z-index: 1005;

}
.z_ind_99991
{
z-index: 1200;
}
pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}