body
{
	background-color: #2e4053;
	color: #ffffff;
	font-family: "Ubuntu", sans-serif;
	font-size:16px;
}

.zad
{
	padding: 10px 0;
	font-size: 24px; 
	font-weight: 700;
}

.roz
{
	width: 100px;
	height: 20px;
	text-align: center;
	padding: 2px;
	margin: 2px;
	border: 2px solid white;
	border-radius: 10px;
}

.roz:hover
{
	color:#cd6155;
	border: 2px solid #cd6155;
	border-radius: 10px;
}

.wrapper
{
	width:100%;
	margin-left:auto;
	margin-right:auto;
}

.header
{
	width:100%;
	padding:40px 0;
}

.logo
{
	width:480px;
	font-size:44px;
	margin-left:auto;
	margin-right:auto;
	letter-spacing:3px;
	border: 3px solid white;
}

.nav
{
	width:100%;
	padding: 10px 0;
	background-color: #00695c;
	text-align: center;
}

.footer
{
	width:100%;
	padding: 10px 0;
	background-color: #00695c;
	text-align: center;
	position: fixed; 
	bottom: 0;
}

.content
{
	width: 1000px;
	margin-left:auto;
	margin-right:auto;
	text-align:justify;
}

.sticky
{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index:100;
}

ol
{
	padding:0;
	margin:0;
	list-style-type:none;
	font-size:18px;
	height:35px;
	line-height: 200%;
	display:inline-block;
}

ol a 
{
	color: #ffffff;
	text-decoration:none;
	display:block;
}

ol > li 
{
	float:left;
	width:150px;
	height:40px;
}

ol > li:hover
{
	background-color:#008776;
}

ol > li:hover > a
{
	color:#cd6155;
}

ol > li > ul 
{
	list-style-type:none;
	padding:0;
	margin:0;
	display:none;
}

ol > li > ul > li 
{
	background-color: #008776;
	position:relative;
	z-index:100;
}

ol > li > ul > li:hover 
{
	background-color: #1abc9c;
}

ol >li:hover > ul
{
	display:block;
}